* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#myCanvas {
  outline: 2px solid #d3d3d3;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
